
@font-face {
  font-family: 'Parliment-Outline';
  src: url('../fonts/parliament-outline-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/parliament-outline-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/parliament-outline-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/parliament-outline-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Parliament-Outline.otf')  format('opentype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Parliment';
  src: url('../fonts/parliament-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/parliament-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/parliament-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/parliament-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Parliament-Regular.otf')  format('opentype'); /* Safari, Android, iOS */
}
