@import 'mixins';
@import 'fonts';
@import 'modal';

h2, h3, h4,h5,h6 {
  font-family: 'Parliment', serif;
}

p {
  font-family: "proxima-nova",sans-serif;
}

body{
  background: url(../img/paper_bg.jpg) #e8dec7;
}

header {
  background: url(../img/big_beard_bg_01.jpg) top center no-repeat;
  height: 900px;

  h1 {
    background: url(../img/main_logo.png) top center no-repeat;
    margin: 0;
    text-indent: -9999px;
    height: 227px;
  }

  nav {
    position: relative;
    left: 50%;

    a.animation {
      position: absolute;
      display: block;
      text-indent: -9999px;

      &.menu-1 {
        left: -510px; 
      }
      &.menu-2 {
        left: -450px;
        top: 200px;
      }
      &.menu-3 {
        left: -140px;
        top: 370px;
      }
      &.menu-4 {
        left: 200px;
        top: 200px;
      }
      &.menu-5 {
        left: 350px;
      }
    }
  }
}

section {
  padding-bottom: 10px;
    background: url(../img/halo.png) no-repeat center center fixed; 
    -webkit-background-size: cover, cover;
       -moz-background-size: cover, cover;
         -o-background-size: cover, cover;
            background-size: cover, cover;

  &:before {
    height: 52px;
    width: 100%;
    display: block;
    content: ' ';
    background: url(../img/rope_banner.png) no-repeat center center;
    padding: 60px 0;
  }

  h2 {
    text-indent: -10000px;
  }

  .animation {
    > div {
      margin: 0 auto;
    }
  }

  &#global-effects {
    .barber-graph {
      margin-top: 110px;
      background: url(../img/barber_graph.png) no-repeat;
      width: 519px;
      height: 536px;
      position: relative;

      .animation {
        position: absolute;
        left: 220px;
      }
    }
    .pants-graph {
      margin-top: 50px;
      background: url(../img/pants_graph.png) no-repeat;
      width: 539px;
      height: 424px;
    }
    .graph-only {
      margin-top: 40px;
      background: url(../img/graph_only.png) no-repeat;
      width: 517px;
      height: 428px;
      position: relative;

      .animation {
        position: absolute;
        left: 10px;
      }
    }
  }

  &#signs-and-symptoms {
    .row {
      .animation {
        min-height: 500px;
      }
    }
  }

  &#hipstervention {
    .ht-heading {
      margin: 80px auto 20px;
      display: block;

      &.ht-heading-01 {
        margin-top: 170px;
      }
      &.ht-heading-03 {
        margin-top: 190px;
      }
    }

    p {
      margin-left: 65px;
    }

    .star-border {
      background: url(../img/star-border.png) no-repeat;
      width: 226px;
      height: 25px;
      margin: 10px auto 0;
      background-position: 60px 0;
    }
  }

  &#save-a-mate {

    .row {
      padding-bottom: 80px;

      .col-md-3 {
        h3 {
          font-size: 50px;
          line-height: 70px;
        }
      }
    }

    .col-md-12 {

      p {
        max-width: 900px;
        margin: 0 auto 10px;
        padding: 20px 0;
      }
    }
    .star-border {
      background: url(../img/star-border.png) no-repeat;
      width: 166px;
      height: 25px;
      margin: 10px auto 0;
    }
    .download-link {
      display: block;
      background: url(../img/download-link.png) no-repeat;
      width: 251px;
      height: 97px;
      text-indent: -9999px;
    }
  }

  &#news {

    &:after {
      height: 52px;
      width: 100%;
      display: block;
      content: ' ';
      margin-top: 26px;
      background: url(../img/rope_banner.png) no-repeat center center;
    }

    .container {

      .news-box-cont {
        @include clearfix;
        padding-bottom: 140px;

        .news-box {
          background: rgba(100,0,0,0.1);  
          width: 360px;
          height: 410px;
          float: left;
          padding: 60px 30px 60px 60px;
          margin: 10px;

          p {
            font-size: 20px;

            strong {
              font-weight: 600;
            }
          }

          &.video-link {
            position: relative;
            padding: 0;
            cursor: pointer;

            div.play-button {
              background: url(../img/button-video-play.png) no-repeat center center;
              position: absolute;
              // 135 x 132
              width: 135px;
              height: 132px;
              top: (410 / 2) - (132/2) + px;  
              left: (360 / 2) - (135/2) + px;
            }
            img {
              margin: 0;
            }
          }
        }
      }

      .row { // forms
        h3 {
          text-align: left;
        }
        p {
          text-align: left;
        }
      }
    }
  }

  .container {
    > .row {

      h3 {
        text-align: center;
      }

      > .col-md-6 {
        padding-bottom: 60px;

        h3 {
          font-size: 59px;
        }
      }

      .col-md-4 {
        padding-bottom: 60px;

        > img {
          width: 300px;
          margin: 0 auto;
          display: block;
        }

        h3 {
          font-size: 52px; 
        }
      }
      
      p {
        font-size: 17px;
        text-align: center;
      }
    }
  }
}


