@import 'mixins';
@import 'fonts';
@import 'modal';
@import 'media-queries';

$fb-blue: #354f87;
$twit-blue: #019cd0;
$google-red: #c5422f;
$insta-brown: #bab39d;
$tumblr-blue: #48738f;
$yt-red: #e15955;

h2, h3, h4,h5,h6 {
  font-family: 'Parliment', serif;
  color: #0a0a09;
}

a:focus {
  color: #0a0a09;
}

p {
  font-family: "proxima-nova",sans-serif;
  color: #0a0a09;
}

body{
  background: url(../../img/paper_bg.jpg) #e8dec7;
}

footer {
  background: -moz-radial-gradient(center, ellipse cover, rgba(221,180,109,0) 0%, rgba(221,180,109,0) 53%, rgba(221,180,109,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(221,180,109,0)), color-stop(53%,rgba(221,180,109,0)), color-stop(100%,rgba(221,180,109,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(221,180,109,0) 0%,rgba(221,180,109,0) 53%,rgba(221,180,109,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(221,180,109,0) 0%,rgba(221,180,109,0) 53%,rgba(221,180,109,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(221,180,109,0) 0%,rgba(221,180,109,0) 53%,rgba(221,180,109,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(221,180,109,0) 0%,rgba(221,180,109,0) 53%,rgba(221,180,109,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d99359', endColorstr='#bfd99359',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 100px 0 200px;

  img {
    margin: 0 auto;
    width: 250px;
    display: block;
  }
}

.shareaholic-canvas {
  margin-top: 18px;
}

.back-to-top-cont {
  position: fixed;
  left:50%;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition:1.5s all;
     -moz-transition:1.5s all;
          transition:1.5s all;

  @include tablet-landscape-and-below {
    display: none;
  }

  .back-to-top-button {
    display: block;
    background-image: url(../../img/button_back_to_top.png);
    background-repeat: no-repeat;
    height:108px;
    width: 180px;
    left: -90px;
    position: absolute;
    bottom: 10px;


  }
}


header {
  background: url(../../img/big_beard_bg_01.jpg) top center no-repeat;
  height: 900px;
  position: relative;
  overflow: hidden;
  @include tablet-portrait-and-below {
    position: static;
    background-image: url(../../img/guy-with-beard_mobile.jpg);
    border-bottom: 3px solid black;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;


  }



  h1 {
    background: url(../../img/main_logo.png) top center no-repeat;
    margin: 0;
    text-indent: -9999px;
    height: 227px;
    opacity: 0;
    -webkit-transition:1.5s all;
    -moz-transition:1.5s all;
    transition:1.5s all;
    @include tablet-portrait-and-below {
      display: none;
    }
  }

  .beard-nav-mobile {
    position: relative;
    margin-top: 95%;
    @include tablet-landscape-and-up {
      display: none;
    }
    overflow: hidden;

    a {
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      display: table-cell;

      &.menu-1 {
        background-image: url(../../img/beard_nav_mobile_signs.png);
        width: 116px;
        height: 132px;
      }
      &.menu-2 {
        background-image: url(../../img/beard_nav_mobile_effects.png);
        width: 123px;
        height: 141px;
        background-position: 0 50px;
      }
      &.menu-3 {
        background-image: url(../../img/beard_nav_mobile_host.png);
        width: 139px;
        height: 260px;
        background-position: 0 80px;
      }
      &.menu-4 {
        background-image: url(../../img/beard_nav_mobile_save.png);
        width: 106px;
        height: 148px;
        background-position: 0 50px;
      }
      &.menu-5 {
        background-image: url(../../img/beard_nav_mobile_news.png);
        width: 123px;
        height: 130px;
      }
    }

  }

  .beard-nav {
    position: relative;
    left: 50%;
    @include tablet-portrait-and-below {
      display:none;
    }

    a.animation {
      position: absolute;
      display: block;
      text-indent: -9999px;

      &.menu-1 {
        left: -390px;
        top: 240px;
      }
      &.menu-2 {
        left: -520px;
        top: 40px;
      }
      &.menu-3 {
        left: -115px;
        top: 330px;
      }
      &.menu-4 {
        left: 160px;
        top: 230px;
      }
      &.menu-5 {
        left: 310px;
        top: 60px;
      }
    }
  }

  nav {
    position: absolute;
    bottom: 0;
    height: 64px;
    background: rgba(0,0,0,0.7);

    border-bottom: 3px solid black;
    width: 100%;
    overflow: hidden;
    z-index:3 ;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    transition:0.5s all;

    ul {
      li {
        display: inline;
        a {
          font-family: 'Parliment', serif;
          text-transform:uppercase;
          color: white;
          font-size: 22px;
          line-height: 64px;
          padding: 0 30px;
          &.social-nav-link {
              padding: 0 5px;
          }

          &:focus {
            color: white;
          }

          &.open-menu {
            display: none;
          }

          &.logo {
            padding-right: 80px;
            @include tablet-portrait-and-below {
              padding: 0;
              display: block;
              img {
                display: block;
                margin: auto;
              }
            }
          }

          &:hover {
            text-decoration: none;
            color: white;
          }
          @media (max-width : 1500px) {
            font-size: 15px;
            padding: 0 10px;
            &.logo {
              padding: 0 10px;
            }
          }
          @media (max-width : 1200px) {
            padding: 0 5px;
            font-size: 15px;
            &.logo {
              padding: 0 5px;
            }
          }
          @media (max-width : 1050px) {
            font-size: 12px;
          }
        }
      }
    }

    @include tablet-portrait-and-below {
      top: 0;
      position: fixed;
      z-index: 10;
      border-bottom: none;
      background: rgba(0,0,0,0.7);

      ul {
        padding:0;
        li {
          display: block;
          border-bottom: 3px solid black;
          text-align: center;
          &:last-child {
            border-bottom: none;
          }

          a {
            color: white;
            padding-left: 30px;
            font-size: 18px;

            &.open-menu {
              padding: 0 10px;
              display: block;
              float: right;
              top: 0;
              position: absolute;
              right: 10px;
              font-size: 32px;
              cursor: pointer;
            }
            &.social-nav-link {
              padding: 0 15px;
              &:first-child {
                //padding-left:30px;
              }
            }
          }
        }
      }
    }

  }
}

section {
  overflow: hidden;
  /*
  background: url(../../img/halo.png) no-repeat center center;
  -webkit-background-size: cover, cover;
     -moz-background-size: cover, cover;
       -o-background-size: cover, cover;
          background-size: cover, cover;
          */
  background: -moz-radial-gradient(center, ellipse cover, rgba(221,180,109,0) 0%, rgba(221,180,109,0) 53%, rgba(221,180,109,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(221,180,109,0)), color-stop(53%,rgba(221,180,109,0)), color-stop(100%,rgba(221,180,109,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(221,180,109,0) 0%,rgba(221,180,109,0) 53%,rgba(221,180,109,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(221,180,109,0) 0%,rgba(221,180,109,0) 53%,rgba(221,180,109,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(221,180,109,0) 0%,rgba(221,180,109,0) 53%,rgba(221,180,109,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(221,180,109,0) 0%,rgba(221,180,109,0) 53%,rgba(221,180,109,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d99359', endColorstr='#bfd99359',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  &:before {
    height: 87px;
    width: 100%;
    display: block;
    content: ' ';
    background: url(../../img/rope_border_middle.png) no-repeat center center;
    padding: 90px 0 60px;
  }

  .container {
    &:before {
      @include desktop-and-up {
        background-image: url(../../img/border-flowers.png);
        background-repeat: no-repeat;
        content: ' ';
        height: 157px;
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        background-position: center 0;
     }
    }
    &:after {

    }
  }

  h2 {
    text-indent: -10000px;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    transition:0.5s all;

    @include mobile-landscape-and-below {
      .animation div {
        background-size: contain;
        width: 100% !important;
        margin: auto !important;
      }
    }

    .animation {
      /*
      @include tablet-portrait-and-below {
        -webkit-transform: scale(0.55, 0.55);
        transform: scale(0.55, 0.55);
      }
      @include mobile-landscape-and-below {
        -webkit-transform: scale(0.4, 0.4);
        transform: scale(0.4, 0.4);
      }
      @include mobile-portrait-and-below {
        -webkit-transform: scale(0.3, 0.3);
        transform: scale(0.3, 0.3);
      }
      */
    }
  }

  .animation {
    @include enable3d;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    transition:0.5s all;



    > div {
      margin: 0 auto;
    }
  }

  &#global-effects {

    @include mobile-landscape-and-below {
      &:before {
        padding: 0;
      }
    }

    h2 {
      .animation {
        margin: -100px 0;
        @include mobile-landscape-and-below {
          margin: 0;
        }
        div {
        }
      }
    }
    @include tablet-landscape-and-below {
      h3 {
        font-size: 42px;
      }
    }
    @include mobile-landscape-and-below {
      h3 {
        font-size: 30px;
      }
    }

    .barber-graph {

      margin: 110px auto 0;
      background: url(../../img/barber_graph.png) no-repeat;
      width: 519px;
      height: 536px;
      position: relative;
      background-size: contain;
      max-width: 100%;
      @include mobile-only {
        margin: 0 auto;
        height: 100vw;
      }


      .animation {
        position: absolute;
        left: 220px;
        @include mobile-only {
          left: 150px;
        }
      }
    }
    .pants-graph {
      margin: 60px auto 0;
      background: url(../../img/pants_graph.png) no-repeat;
      width: 539px;
      height: 424px;

      background-size: contain;
      max-width: 100%;

      @include mobile-only {
        margin: 0 auto;
        height: 300px;
      }
    }
    .graph-only {
      margin: 40px auto 0;
      background: url(../../img/graph_only.png) no-repeat;
      width: 517px;
      height: 428px;
      position: relative;
      background-size: contain;
      max-width: 100%;

      @include mobile-only {
        /*
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        left: -30%;
        */
      }
      .animation {
        position: absolute;
        left: 10px;
      }
    }
    .fixie-graph {
      @include mobile-only {
        /*
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        */
      }
    }
  }

  &#signs-and-symptoms {

    .container {
      &:before {
        @include desktop-and-up {
          background-position: center -157px;
          height: 161px;
          margin-top: -50px;
        }
      }
    }

    &:before {
      height: 82px;
      background: url(../../img/rope_border_top.png) no-repeat center center;
      margin-top: 40px;
      @include mobile-landscape-and-below {
        padding: 0;
        height: 25px;
        background-position: center top;
      }
    }


    h2 {

      .animation {
        margin: -220px 0;
        @include mobile-landscape-and-below {
          margin: 0;
        }
        div {
        }
      }
    }

    .row {
      .animation {
        min-height: 500px;
        &.old-school-animation {
          transform: scale(0.85);
        }
        @include mobile-landscape-and-below {
          min-height: initial;
        }
      }
      .col-md-6 {
        height: 750px;
        @include mobile-landscape-and-below {
          height: auto;
        }
      }
      @include tablet-landscape-and-below {
        h3 {
          font-size: 42px;
        }
      }
      @include mobile-landscape-and-below {
        h3 {
          font-size: 30px;
        }
      }
    }
  }

  &#hipstervention {

    .container {
      &:before {
        @include desktop-and-up {
          background-position: center -321px;
          height: 205px;
          margin-top: 60px;
        }
      }
    }

    h2 {
      margin: -80px 0;
      .animation {
        @include tablet-landscape-and-below {
        }
        @include mobile-landscape-and-below {
          margin: 0;
        }
        div {
        }
      }
    }

    .ht-heading {
      margin: 80px auto 20px;
      display: block;

      @include mobile-landscape-and-below {
        margin-top: 0px;
      }

      &.ht-heading-01 {
        margin-top: 170px;
        @include mobile-landscape-and-below {
          margin-top: 100px;
        }
      }
      &.ht-heading-03 {
        margin-top: 190px;

        @include mobile-landscape-and-below {
          margin-top: 40px;
        }
      }
    }

    .row {
      .col-md-6 {
        padding-bottom: 0;
        @include tablet-landscape-and-below {
          .animation {
            /*
            -webkit-transform: scale(0.75,0.75);
            transform: scale(0.75,0.75);
            margin: -140px auto;
            */
          }
          .ht-heading {
            width: 100%;
            margin-left: 2%;
          }
        }
        @include tablet-portrait-and-below {
          .ht-heading {
            width: 80%;
            margin-left: 10%;
          }
        }
      }
    }

    .animation {
      &.bear-trap {
        div {
          margin-bottom: -150px;
          @include tablet-portrait-and-below {
            margin-bottom:0;
          }
        }
      }
      &.tears-glass {
        div {
          margin-bottom: -100px;
          @include tablet-portrait-and-below {
            margin-bottom:0;
          }
        }
      }
      &.beard-slap {
        margin-bottom: -170px;
        @include mobile-only {
          margin-bottom:0;
        }
      }
    }

    p {
      margin-left: 65px;
      @include tablet-portrait-and-below {
        margin-left:0;
      }
    }

    .shame-row {
      .shame-right {
        float: right;

        @media only screen and (max-width : $mq-tablet-portrait - 1) {
          float: none;
        }
      }
      .shame-left {
        float: left;

        @media only screen and (max-width : $mq-tablet-portrait - 1) {
          float: none;
        }
      }
    }

    .star-border {
      background: url(../../img/star-border.png) no-repeat;
      width: 226px;
      height: 25px;
      margin: 10px auto 0;
      background-position: 60px 0;
      @include tablet-portrait-and-below {
        background-position:center;
      }
    }
  }

  &#save-a-mate {

    @include mobile-landscape-and-below {
        &:before {
          padding: 0;
        }
    }
    h2 {
      margin: -210px 0;

      @include mobile-only {
        margin:0;
      }
      .animation {
        div {
        }
      }
    }

    .container {
      &:before {
        @include desktop-and-up {
          margin-top: 190px;
        }
      }
    }

    .row {
      padding-bottom: 80px;
      @include tablet-landscape-and-below {
        padding-bottom: 0;
      }

      .col-md-3 {
        h3 {
          font-size: 50px;
          line-height: 70px;
        }
      }
    }

    .share-button {
      display: block;
      height: 60px;
      width: 60px;
      line-height: 60px;
      text-align: center;
      margin: 20px auto;

      i {
        height: 60px;
        width: 60px;
        line-height: 60px;
        text-align: center;
      }
      &.share-fb {
        background: $fb-blue;
      }
      &.share-twit {
        background: $twit-blue;
      }
      &.share-google {
        background: $google-red;
      }
      i {
        color:white;
      }
    }

    .col-md-12 {

      p {
        max-width: 900px;
        margin: 0 auto 10px;
        padding: 20px 0;
      }
    }
    .star-border {
      background: url(../../img/star-border.png) no-repeat;
      width: 166px;
      height: 25px;
      margin: 10px auto 0;
    }
    .download-link {
      display: block;
      background: url(../../img/download-link.png) no-repeat;
      width: 251px;
      height: 97px;
      text-indent: -9999px;
      @include tablet-landscape-and-below {
        margin: 0 auto;
      }
    }
  }

  &#news {

    .container {
      &:before {
        @include desktop-and-up {
          background-position: center -157px;
          height: 161px;
          margin-top: 70px;
        }
      }
      &:after {
        @include desktop-and-up {
          background-image: url(../../img/border-flowers.png);
          background-repeat: no-repeat;
          content: ' ';
          height: 202px;
          display: block;
          position: absolute;
          width: 100%;
          left: 0;
          background-position: center -524px;
          margin-top: -140px;
          z-index: -1;
        }
      }
    }

    &:after {
      height: 82px;
      width: 100%;
      display: block;
      content: ' ';
      margin-top: 26px;
      background: url(../../img/rope_border_bottom.png) no-repeat center center;
      margin-bottom: 40px;
      z-index: -1; // tmp;
    }

    h2 {
      margin-top: -90px;
      .animation {
        div {
        }
      }
    }

    .container {

      .news-box-cont {
        @include clearfix;
        padding-bottom: 140px;
        margin: 0 auto;
        @include tablet-landscape-and-below {
          max-width: 640px;
          padding-bottom: 40px;
        }
        @include mobile-landscape-and-below {
          max-width: 320px;
        }

        .news-box {
          background: rgba(100,0,0,0.1);
          width: 360px;
          height: 360px;
          float: left;
          padding: 60px 30px 60px 60px;
          margin: 10px;


          &.news-insta {
            padding:0;
          }

          img {
            width: 100%;
          }

          p {
            font-size: 20px;

            strong {
              font-weight: 600;
            }
          }

          &.video-link {
            position: relative;
            padding: 0;
            cursor: pointer;

            div.play-button {
              background: url(../../img/button-video-play.png) no-repeat center center;
              position: absolute;
              // 135 x 132
              width: 135px;
              height: 132px;
              top: (360 / 2) - (132/2) + px;
              left: (360 / 2) - (135/2) + px;
            }
            img {
              margin: 0;
            }
          }

          @include tablet-landscape-and-below {
            width: 300px;
            height: 300px;

            p {
              font-size: 14px;
            }
            &.video-link {

              div.play-button {
                // 135 x 132
                width: 135px;
                height: 132px;
                top: (300 / 2) - (132/2) + px;
                left: (300 / 2) - (135/2) + px;
              }
              img {
              }
            }

          }
          @include tablet-portrait-and-below {
            width: 48%;
            margin: 1%;
            background: none;
          }
        }
      }

      .join-the-movement { // forms
        h3 {

        }
        p {

        }
        .social-container {
          @include clearfix;
          width: 350px;
          margin: 0 auto;
          @include mobile-landscape-and-below {
            width: 250px;
          }
        }
        .social-button {
          display: block;
          height: 60px;
          width: 60px;
          line-height: 60px;
          text-align: center;
          margin: 20px 5px;
          float:left;


          i {
            height: 60px;
            width: 60px;
            line-height: 60px;
            text-align: center;
          }
          @include mobile-landscape-and-below {
            width: 40px;
            height: 40px;
            line-height: 40px;
            i {
              font-size: 1.5em;
              width: 40px;
              height: 40px;
              line-height: 40px;
            }
          }
          &.social-fb {
            background: $fb-blue;
          }
          &.social-twit {
            background: $twit-blue;
          }
          &.social-insta {
            background: $insta-brown;
          }
          &.social-youtube {
            background: $yt-red;
          }
          &.social-tumblr {
            background: $tumblr-blue;
          }
          i {
            color:white;
          }
        }
        .col-md-12 {
            padding-bottom: 30px;
        }
        .input-group {

          max-width: 750px;
          margin: 0 auto;

          input {
            border-radius: 0;
            border: 2px solid black;
            font-size: 28px;
            height: 56px;
          }

          .input-group-btn {
            padding-left: 20px;

            button {
              font-size: 28px;
              border: 2px solid black;
              color: white;
              font-weight: 600;
              text-transform: uppercase;
              border-radius: 0;
              background: #cf3e0f;
              padding: 6px 30px;
            }
          }


        }
      }
    }
  }
  .container {
    > .row {

      h3 {
        text-align: center;
        small {
          color: #0a0a09;
        }
      }

      > .col-md-12, > .col-md-6 {
        padding-bottom: 60px;

        h3 {
          font-size: 54px;
        }
      }

      .col-md-4 {
        padding-bottom: 60px;

        > img {
          width: 300px;
          margin: 0 auto;
          display: block;
        }

        h3 {
          font-size: 52px;
        }
      }

      p {
        font-size: 17px;
        text-align: center;
      }
    }
  }
}
