.hidden {
  display: none; }

.clear {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@font-face {
  font-family: 'Parliment-Outline';
  src: url("../fonts/parliament-outline-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/parliament-outline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/parliament-outline-webfont.woff2") format("woff2"), url("../fonts/parliament-outline-webfont.woff") format("woff"), url("../fonts/Parliament-Outline.otf") format("opentype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'Parliment';
  src: url("../fonts/parliament-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/parliament-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/parliament-regular-webfont.woff2") format("woff2"), url("../fonts/parliament-regular-webfont.woff") format("woff"), url("../fonts/Parliament-Regular.otf") format("opentype");
  /* Safari, Android, iOS */ }

.modal .modal-dialog .modal-content {
  background: url(../img/paper_bg.jpg) #e8dec7;
  border-radius: 0; }

h2, h3, h4, h5, h6 {
  font-family: 'Parliment', serif; }

p {
  font-family: "proxima-nova",sans-serif; }

body {
  background: url(../img/paper_bg.jpg) #e8dec7; }

header {
  background: url(../img/big_beard_bg_01.jpg) top center no-repeat;
  height: 900px; }
  header h1 {
    background: url(../img/main_logo.png) top center no-repeat;
    margin: 0;
    text-indent: -9999px;
    height: 227px; }

section {
  padding-bottom: 10px;
  background: url(../img/halo.png) no-repeat center 26px;
  -webkit-background-size: cover, cover;
  -moz-background-size: cover, cover;
  -o-background-size: cover, cover;
  background-size: cover, cover; }
  section:before {
    height: 52px;
    width: 100%;
    display: block;
    content: ' ';
    margin-top: -26px;
    background: url(../img/rope_banner.png) no-repeat center center; }
  section#global-effects {
    background-position: center 10px; }
    section#global-effects:before {
      height: 23px;
      margin-top: -10px;
      background: url(../img/rope_border.png) repeat-x; }
  section#news:after {
    height: 52px;
    width: 100%;
    display: block;
    content: ' ';
    margin-top: 26px;
    background: url(../img/rope_banner.png) no-repeat center center; }
  section#news .container .news-box-cont {
    *zoom: 1;
    padding-bottom: 140px; }
    section#news .container .news-box-cont:before,
    section#news .container .news-box-cont:after {
      content: " ";
      display: table; }
    section#news .container .news-box-cont:after {
      clear: both; }
    section#news .container .news-box-cont .news-box {
      background: rgba(100, 0, 0, 0.1);
      width: 360px;
      height: 410px;
      float: left;
      padding: 60px 30px 60px 60px;
      margin: 10px; }
      section#news .container .news-box-cont .news-box p {
        font-size: 20px; }
        section#news .container .news-box-cont .news-box p strong {
          font-weight: 600; }
      section#news .container .news-box-cont .news-box.video-link {
        position: relative;
        padding: 0;
        cursor: pointer; }
        section#news .container .news-box-cont .news-box.video-link div.play-button {
          background: url(../img/button-video-play.png) no-repeat center center;
          position: absolute;
          width: 135px;
          height: 132px;
          top: 139px;
          left: 112.5px; }
        section#news .container .news-box-cont .news-box.video-link img {
          margin: 0; }
  section#news .container .row h3 {
    text-align: left; }
  section#news .container .row p {
    text-align: left; }
  section .container > .row h3 {
    text-align: center; }
  section .container > .row > .col-md-6 {
    padding-bottom: 60px; }
    section .container > .row > .col-md-6 h3 {
      font-size: 59px; }
  section .container > .row .col-md-4 {
    padding-bottom: 60px; }
    section .container > .row .col-md-4 > img {
      width: 300px;
      margin: 0 auto;
      display: block; }
    section .container > .row .col-md-4 h3 {
      font-size: 52px; }
  section .container > .row p {
    font-size: 17px;
    text-align: center; }
