.hidden {
  display: none; }

.clear {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@font-face {
  font-family: 'Parliment-Outline';
  src: url("../fonts/parliament-outline-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/parliament-outline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/parliament-outline-webfont.woff2") format("woff2"), url("../fonts/parliament-outline-webfont.woff") format("woff"), url("../fonts/Parliament-Outline.otf") format("opentype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'Parliment';
  src: url("../fonts/parliament-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/parliament-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/parliament-regular-webfont.woff2") format("woff2"), url("../fonts/parliament-regular-webfont.woff") format("woff"), url("../fonts/Parliament-Regular.otf") format("opentype");
  /* Safari, Android, iOS */ }

.modal .modal-dialog .modal-content {
  background: url(../img/paper_bg.jpg) #e8dec7;
  border-radius: 0; }

h2, h3, h4, h5, h6 {
  font-family: 'Parliment', serif; }

p {
  font-family: "proxima-nova",sans-serif; }

body {
  background: url(../img/paper_bg.jpg) #e8dec7; }

.shareaholic-canvas {
  margin-top: 18px; }

header {
  background: url(../img/big_beard_bg_01.jpg) top center no-repeat;
  height: 900px;
  position: relative;
  overflow: hidden; }
  header h1 {
    background: url(../img/main_logo.png) top center no-repeat;
    margin: 0;
    text-indent: -9999px;
    height: 227px; }
  header .beard-nav {
    position: relative;
    left: 50%; }
    header .beard-nav a.animation {
      position: absolute;
      display: block;
      text-indent: -9999px; }
      header .beard-nav a.animation.menu-1 {
        left: -510px; }
      header .beard-nav a.animation.menu-2 {
        left: -450px;
        top: 200px; }
      header .beard-nav a.animation.menu-3 {
        left: -140px;
        top: 370px; }
      header .beard-nav a.animation.menu-4 {
        left: 200px;
        top: 200px; }
      header .beard-nav a.animation.menu-5 {
        left: 350px; }
  header nav {
    position: absolute;
    bottom: 0;
    height: 64px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    overflow: hidden; }
    header nav ul li {
      display: inline; }
      header nav ul li a {
        font-family: 'Parliment', serif;
        text-transform: uppercase;
        color: #828282;
        font-size: 22px;
        line-height: 64px;
        padding: 0 30px; }
        header nav ul li a.logo {
          padding-right: 80px; }
        header nav ul li a:hover {
          text-decoration: none;
          color: white; }

section {
  padding-bottom: 10px;
  overflow: hidden;
  background: url(../img/halo.png) no-repeat center center fixed;
  -webkit-background-size: cover, cover;
  -moz-background-size: cover, cover;
  -o-background-size: cover, cover;
  background-size: cover, cover; }
  section:before {
    height: 52px;
    width: 100%;
    display: block;
    content: ' ';
    background: url(../img/rope_banner.png) no-repeat center center;
    padding: 60px 0; }
  section h2 {
    text-indent: -10000px; }
  section .animation {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000; }
    section .animation > div {
      margin: 0 auto; }
  section#global-effects h2 .animation div {
    margin-top: -150px; }
  section#global-effects .barber-graph {
    margin: 110px auto 0;
    background: url(../img/barber_graph.png) no-repeat;
    width: 519px;
    height: 536px;
    position: relative; }
    @media (max-width: 480px) {
      section#global-effects .barber-graph {
        transform: scale(0.5, 0.5);
        left: -20%; } }
    section#global-effects .barber-graph .animation {
      position: absolute;
      left: 220px; }
  section#global-effects .pants-graph {
    margin: 50px auto 0;
    background: url(../img/pants_graph.png) no-repeat;
    width: 539px;
    height: 424px; }
    @media (max-width: 480px) {
      section#global-effects .pants-graph {
        transform: scale(0.5, 0.5);
        left: -20%; } }
  section#global-effects .graph-only {
    margin: 40px auto 0;
    background: url(../img/graph_only.png) no-repeat;
    width: 517px;
    height: 428px;
    position: relative; }
    @media (max-width: 480px) {
      section#global-effects .graph-only {
        transform: scale(0.5, 0.5);
        left: -20%; } }
    section#global-effects .graph-only .animation {
      position: absolute;
      left: 10px; }
  @media (max-width: 480px) {
    section#global-effects .fixie-graph {
      transform: scale(0.5, 0.5); } }
  section#signs-and-symptoms h2 .animation div {
    margin-top: -170px;
    margin-bottom: -170px; }
  section#signs-and-symptoms .row .animation {
    min-height: 500px; }
  section#signs-and-symptoms .row .col-md-6 {
    height: 750px; }
  section#hipstervention h2 .animation div {
    margin-top: -340px;
    margin-bottom: -450px;
    background-position: -1004px 0px; }
  section#hipstervention .ht-heading {
    margin: 80px auto 20px;
    display: block; }
    section#hipstervention .ht-heading.ht-heading-01 {
      margin-top: 170px; }
    section#hipstervention .ht-heading.ht-heading-03 {
      margin-top: 190px; }
  section#hipstervention .row .col-md-6 {
    padding-bottom: 0; }
  section#hipstervention .animation.bear-trap div {
    margin-bottom: -150px; }
  section#hipstervention .animation.tears-glass div {
    margin-bottom: -100px; }
  section#hipstervention p {
    margin-left: 65px; }
  section#hipstervention .star-border {
    background: url(../img/star-border.png) no-repeat;
    width: 226px;
    height: 25px;
    margin: 10px auto 0;
    background-position: 60px 0; }
  section#save-a-mate h2 .animation div {
    margin-top: -170px;
    margin-bottom: -210px; }
  section#save-a-mate .row {
    padding-bottom: 80px; }
    section#save-a-mate .row .col-md-3 h3 {
      font-size: 50px;
      line-height: 70px; }
  section#save-a-mate .col-md-12 p {
    max-width: 900px;
    margin: 0 auto 10px;
    padding: 20px 0; }
  section#save-a-mate .star-border {
    background: url(../img/star-border.png) no-repeat;
    width: 166px;
    height: 25px;
    margin: 10px auto 0; }
  section#save-a-mate .download-link {
    display: block;
    background: url(../img/download-link.png) no-repeat;
    width: 251px;
    height: 97px;
    text-indent: -9999px; }
  section#news:after {
    height: 52px;
    width: 100%;
    display: block;
    content: ' ';
    margin-top: 26px;
    background: url(../img/rope_banner.png) no-repeat center center; }
  section#news h2 .animation div {
    margin-top: -350px;
    margin-bottom: -250px; }
  section#news .container .news-box-cont {
    *zoom: 1;
    padding-bottom: 140px; }
    section#news .container .news-box-cont:before,
    section#news .container .news-box-cont:after {
      content: " ";
      display: table; }
    section#news .container .news-box-cont:after {
      clear: both; }
    section#news .container .news-box-cont .news-box {
      background: rgba(100, 0, 0, 0.1);
      width: 360px;
      height: 410px;
      float: left;
      padding: 60px 30px 60px 60px;
      margin: 10px; }
      section#news .container .news-box-cont .news-box p {
        font-size: 20px; }
        section#news .container .news-box-cont .news-box p strong {
          font-weight: 600; }
      section#news .container .news-box-cont .news-box.video-link {
        position: relative;
        padding: 0;
        cursor: pointer; }
        section#news .container .news-box-cont .news-box.video-link div.play-button {
          background: url(../img/button-video-play.png) no-repeat center center;
          position: absolute;
          width: 135px;
          height: 132px;
          top: 139px;
          left: 112.5px; }
        section#news .container .news-box-cont .news-box.video-link img {
          margin: 0; }
  section#news .container .row h3 {
    text-align: left; }
  section#news .container .row p {
    text-align: left; }
  section .container > .row h3 {
    text-align: center; }
  section .container > .row > .col-md-12, section .container > .row > .col-md-6 {
    padding-bottom: 60px; }
    section .container > .row > .col-md-12 h3, section .container > .row > .col-md-6 h3 {
      font-size: 59px; }
  section .container > .row .col-md-4 {
    padding-bottom: 60px; }
    section .container > .row .col-md-4 > img {
      width: 300px;
      margin: 0 auto;
      display: block; }
    section .container > .row .col-md-4 h3 {
      font-size: 52px; }
  section .container > .row p {
    font-size: 17px;
    text-align: center; }
